---
title: Michael Wallner (m6w6)
layout: default
styles: assets/index.css
---
		<header>
			<div>
				<img id="portrait" src="m6w6.jpg" height="185" width="140" alt="">
			</div>
			<h1>
				{{ site.title }} <small>&lt;<span class="email"></span>&gt;</small>
			</h1>
			<p>
				{{ site.description }}
			</p>
		</header>
		<section>
			<h2 id="identity">Identity</h2>
			<h3>PGP, GPG</h3>
			<p><code>1EC3 C71D DD63 5831 A337 D684 480E 3E14 B0A4 C7C7</code></p>
			<div class="box-of-links">
				{% include id.openpgp.html %}
				{% include id.keyserver-ubuntu.html %}
			</div>
		</section>
		<section>
			<h2 id="contact">Contact</h2>
			<div class="box-of-links">
				{% include contact.email.html %}
				{% include contact.keybase.html %}
		</section>
		<section>
			<h2>Social</h2>
			<div class="box-of-links">
				{% include social.github.html %}
				{% include social.smugmug.html %}

				{% include sponsor.buymeacoffee.html %}
			</div>
		</section>
		<section>
			<h2 id="blog">Blog &mdash; <a href="blog/">Mike's sudden Inspirations</a></h2>
			<ul>
				{% assign m6w6_posts = site.posts | where: "author", "m6w6" | slice: 0, 3 %}
				{% for post in m6w6_posts  %}
					<li><small><a href=".{{ post.url }}">{{ post.title }}</a>
						&mdash; posted {{ post.date | date_to_long_string: "ordinal" }}</small></li>
				{%  endfor %}
			</ul>
		</section>
		<section>
			<h2 id="career">Career</h2>
			<table class="career-table">
				<tr class="career-current">
					{% assign Y = "now" | date: "%Y" %}
					{% assign rowspan = Y | minus: 2013 | plus: 1 %}
					<th>{{ Y }}</th>
					<td rowspan="{{ rowspan }}"><a href="https://www.smugmug.com" rel="external">SmugMug Inc.</a></td>
					<td rowspan="{{ rowspan }}">Sorcerer</td>
					<td rowspan="{{ rowspan }}">Remote</td>
					<td></td>
				</tr>
				{% assign last_Y = Y | minus: 1 %}
				{% for y in (2014..last_Y) reversed %}
				<tr><th>{{ y }}</th></tr>
				{% endfor %}
				<tr class="career-change"><th rowspan="2">2013</th></tr>
				<tr>
					<td rowspan="7">INQNET</td>
					<td rowspan="7">Software Developer</td>
					<td rowspan="7">Vienna</td>
					<td></td>
				</tr>
				<tr><th>2012</th></tr>
				<tr><th>2011</th></tr>
				<tr><th>2010</th></tr>
				<tr><th>2009</th></tr>
				<tr><th>2008</th></tr>
				<tr class="career-change"><th rowspan="2">2007</th></tr>
				<tr>
					<td rowspan="6">IWORKS</td>
					<td rowspan="6">Freelancer</td>
					<td rowspan="6">Remote</td>
					<td></td>
				</tr>
				<tr><th>2006</th></tr>
				<tr><th>2005</th></tr>
				<tr><th>2004</th></tr>
				<tr><th>2003</th></tr>
				<tr class="career-start"><th>2002</th></tr>
			</table>
		</section>
		<section>
			<h2 id="opensource">Open source</h2>
			<table class="opensource-table">
				<tr>
					<th>libmemcached</th>
					<td>C/C++ library for <code>memcached(1)</code> (resurrected)</td>
					<td>
						<a href="https://github.com/awesomized/libmemcached" rel="external"
						>Github</a>,
						<a href="https://git.m6w6.name/?p=awesomized/libmemcached" rel="external"
						>Mirror</a>,
						<a href="https://awesomized.github.io/libmemcached" rel="external"
						>Docs</a>,
						<a href="https://artifacts.m6w6.name/libmemcached/" rel="external"
						>Artifacts</a>
					</td>
				</tr>
				<tr>
					<th>pecl/http</th>
					<td>PHP HTTP Extension</td>
					<td>
						<a href="https://github.com/m6w6/ext-http" rel="external"
							>Github</a>,
						<a href="https://git.m6w6.name/?p=m6w6/ext-http" rel="external"
							>Mirror</a>,
						<a href="http://pecl.php.net/package/pecl_http" rel="external"
							>PECL</a>,
						<a href="https://mdref.m6w6.name/http" rel="external"
							>Docs</a>
					</td>
				</tr>
				<tr>
					<th>pecl/pq</th>
					<td>PHP PostgreSQL Extension</td>
					<td>
						<a href="https://github.com/m6w6/ext-pq" rel="external"
							>Github</a>,
						<a href="https://git.m6w6.name/?p=m6w6/ext-pq" rel="external"
							>Mirror</a>,
						<a href="http://pecl.php.net/package/pq" rel="external"
							>PECL</a>,
						<a href="https://mdref.m6w6.name/pq" rel="external"
							>Docs</a>
					</td>
				</tr>
			</table>
		</section>
